<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Header - Underdark CSS</title>
    <meta charset="UTF-8">
    <title>µWeb3 framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/module.css">
    <link rel="stylesheet" href="/static/css/theme.css">
  </head>

  <body id="header" class="layout">
    <header>
      <div>
        <div class="logo">
          <a href="/">µWeb3 framework</a>
          <p>A lightweight, high performance python web framework.</p>
        </div>
        {{inline nav.html}}
        <button class="toggle">Toggle</button>
      </div>
    </header>
    <main>
      <section>
        <h1>Contact</h1>
        <h2>Get involved</h2>
        <p>
          Do you have great ideas, fingers that are itching to make sure your features makes it into µWeb? We would just love to hear your input, features requests, even bug reports. Wild and crazy are equally welcome (though they'll have to be related to µWeb).
        </p>
        <p>
          µWeb is an opensource project designed and built by (and initially for) Underdark but we'd love for other to use it, extend it, and make it grow into something that is useful to a wide range of developers.
        </p>
        <p>
          Submitting bugs and features can be done on our <a href="http://bugs.underdark.nl/projects/uweb">bugtracker</a>. Contacting us for other questions can be done via the form below (we're still in the process of setting up other channels of communication, stay tuned).
        </p>
      </section>
    </main>
{{inline footer.html}}
  </body>
</html>