<footer>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://underdark.nl/over-ons">Over ons</a></li>
        <li><a href="https://underdark.nl/projecten">Projecten</a></li>
        <li><a href="https://underdark.nl/diensten">Diensten</a></li>
        <li><a href="https://underdark.nl/contact">Contact</a></li>
      </ul>

      <ul class="external">
        <li><a href="//bugs.underdark.nl">Bugtracker</a></li>
        <li><a href="//customers.underdark.nl">Klantenportaal</a></li>
      </ul>
    </nav>
  </div>

  <div class="copyright">
    <div>
      <p><small>© 2020 Underdark – Powered by <a href="//uweb-framework.nl">µWeb 0.14</a></small></p>
      <p><small>Bragging rights:
        <a href="https://observatory.mozilla.org/analyze/underdark.nl">Mozilla observatory</a> –
        <a href="https://www.ssllabs.com/ssltest/analyze.html?d=underdark.nl">Ssl labs</a> –
        <a href="https://internet.nl/site/underdark.nl/642013/">Internet.nl</a> –
        <a href="https://ip6.nl/#!underdark.nl">Ip6.nl</a>
      </small></p>
    </div>
  </div>
</footer>